.shop {
  position: relative;
  padding: 50px 0;

  @media (min-width: 992px) {
    padding: 100px 0;
  }

  @media (min-width: 1440px) {
    padding: 100px 40px;
  }

  &__products-wrapper {

    .woocommerce-ordering {
      select {
        border-radius: 5px;
        padding: 2px;
        background-color: $color__dark-gray;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 30%,
      rgba(4, 0, 61, 0.1) 100%
    );
    z-index: -1;

    @media (min-width: 768px) {
      width: 30%;
    }
    @media (min-width: 992px) {
      width: 24%;
    }
    @media (min-width: 1440px) {
      width: 25%;
    }
    @media (min-width: 1600px) {
      width: 26%;
    }
    @media (min-width: 1800px) {
      width: 28%;
    }
  }
}

.woocommerce .widget_price_filter button.button {
  @extend .primary-btn;
}

.woocommerce nav.woocommerce-pagination {
  text-align: end;
}
.woocommerce .woocommerce-pagination ul.page-numbers {
  position: relative;
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li {
  border: none;
  color: $color__company-primary;
}

.woocommerce nav.woocommerce-pagination ul li {
  span,
  a {
    font-weight: 600;
  }
}

.woocommerce nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul li span.current {
  background-color: transparent;
  color: $color__company-secondary;
}
