.category {
  min-height: 800px;
  display: flex;
  align-items: center;
  padding: 50px 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(4, 0, 61, 0.15) 100%);

  @media (min-width: 992px) {
    padding: 100px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    @media (min-width: 992px) {
      justify-content: flex-start;
    }

    h5 {
      letter-spacing: 0;
    }

    p {
      font-size: 1.1rem;
    }
  }

  &__item {
    background-color: white;
    box-shadow: 0 3px 6px rgba(4, 0, 61, 0.1);
    border: none;
    outline: none;
    text-align: center;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border-radius: 10px;
    opacity: 0;
    height: auto;
    flex-basis: 90%;
    margin: 0 auto 20px;
    //padding-bottom: 50px;

    &:first-child {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.1s;
    }

    &:nth-child(2) {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.4s;
    }

    &:nth-child(3) {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.6s;
    }

    &:last-child {
      transition: opacity 0.5s cubic-bezier(0.8, 0.1, 0.8, 1) 0.9s;
    }

    @media (min-width: 768px) {
      flex-basis: 45%;
      margin: 0 15px 20px;
    }

    @media (min-width: 992px) {
      flex-basis: 29%;
    }
    @media (min-width: 1200px) {
      flex-basis: 30%;
    }
  }

  &__card {
    border-radius: 10px;
    //overflow: hidden;
    height: 100%;
    position: relative;
  }

  &__thumbnail-wrapper {
    height: 70vh;
    max-height: 70vh;
    overflow: hidden;
    @media (min-width: 768px) {
      height: 55vh;
      max-height: 55vh;
    }
    @media (min-width: 1200px) {
      height: 50vh;
      max-height: 50vh;
    }
    @media (min-width: 1440px) {
      height: 48vh;
      max-height: 48vh;
    }

    img {
      border-radius: 5px 5px 0 0;
      object-fit: contain;
      height: 100%;
      width: 100%;
      max-width: 100%;
      padding: 20px;
    }
  }

  &__content-wrapper {
    background-color: $color__company-primary;
    position: relative;
    min-height: 300px;
    padding: 30px 20px 30px;
    text-align: center;
    border-radius: 0 0 10px 10px;


    @media (min-width: 1200px) {
      min-height: 300px;
      padding: 35px 40px 40px 40px;
    }
  }

  &__content-title {
    h5 {
      color: white;
      text-transform: uppercase;
    }
  }

  &__content-description {
    color: white;
    height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-top: 15px;
    margin-bottom: 50px;
  }

  &__content-cta {
    align-self: flex-end;

  }
}

