.shop {
  &__filters-wrapper {
    padding-right: 40px;
  }
  &__aside-wrapper {
    display: flex;
    flex-direction: column-reverse;

    .active-h2 {
      &:after {
        transform: rotate(0deg);
      }
    }
    h2 {
      margin-top: 0px;
      font-size: 1.4rem;
      position: relative;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background-size: 100%;
        width: 16px;
        height: 16px;
        background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/up-arrow.svg");
        background-repeat: no-repeat;
        transform: rotate(180deg);
      }
    }
  }
}

.ui-widget-header,
.ui-slider-handle {
  background-color: $color__company-primary !important;
}
.ui-slider {
  background-color: grey !important;
  height: 3px !important;
}
.ui-slider-range {
  height: 6px !important;
  top: -1px !important;
}
.ui-slider-handle {
  top: -5px !important;
}

.woocommerce {
  padding-bottom: 30px;
}
.woocommerce
  .woocommerce-widget-layered-nav-list
  .woocommerce-widget-layered-nav-list__item {
  padding-bottom: 8px;
  padding-left: 30px;
  position: relative;
}

.woocommerce
  .woocommerce-widget-layered-nav-list
  .woocommerce-widget-layered-nav-list__item--chosen
  a::before {
  color: $color__company-primary !important;
  position: absolute;
  top: -1px;
  left: -25px;
  z-index: 3;
  content: "\00D7";

}

.woocommerce
  .woocommerce-widget-layered-nav-list
  .woocommerce-widget-layered-nav-list__item
  a::after {
  width: 16px !important;
  height: 16px;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  background-color: white !important;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid $color__dark-gray;
}

// amount
.woocommerce
  .woocommerce-widget-layered-nav-list
  .woocommerce-widget-layered-nav-list__item
  span,
.woocommerce li.cat-item span {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  width: 22px !important;
  height: 22px !important;
  text-align: center;
  position: absolute;
  right: 0px;
}

.woocommerce .widget_price_filter .price_slider_amount {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;

  div {
    padding-bottom: 20px;
  }
}
.woocommerce .widget_price_filter .price_label {
  text-align: start;
  font-weight: 600;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
  @extend .primary-btn--filter;
}

// categories
.woocommerce li.cat-item.current-cat,
.woocommerce li.cat-item.current-cat a {
  color: $color__company-primary;
}

.woocommerce.widget_product_categories ul {
  padding-left: 30px;
list-style-type: none!important;
}

.woocommerce li.cat-item::marker {
  content: none;
}

.woocommerce li.cat-item a::after {
  width: 16px;
  height: 16px;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  background-color: white !important;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid $color__dark-gray;
}

.woocommerce li.cat-item {
  position: relative;
  padding-bottom: 10px;
}

.woocommerce li.cat-item.current-cat::before {
  width: 16px;
  height: 16px;
  display: block;
  top: -5px;
  position: absolute !important;
  left: -26px !important;
  content: "\00D7";
  z-index: 3;
  font-size: 1.3rem;
}

.woocommerce .widget .active {
  display: none;
}

.woocommerce #woocommerce_price_filter-2 .widget-title {

  &::after {
    display: none;
  }
}
