.blog-content {
  background-color: $color__light-gray;
  padding-bottom: 70px;

  &__single {
    padding: 70px 0px;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 576px) {
      padding: 100px 0px;
    }

    @media (min-width: 768px) {
      padding: 100px 0px;
    }
    @media (min-width: 992px) {
      padding: 100px 0px;
    }
    @media (min-width: 1200px) {
      padding: 100px 0;
    }
    @media (min-width: 1440px) {
      padding: 100px 40px;
    }
    @media (min-width: 1600px) {
      padding: 100px 0;
    }

    &-text {
      padding-right: 40px;
      margin-left: -15px;

      :first-child {
        animation: FadeInSlow 1.2s cubic-bezier(0.8, 0.1, 0.8, 1);
        padding-bottom: 50px;
      }

      :nth-child(2) {
        animation: FadeInSlow 0.8s cubic-bezier(0.8, 0.1, 0.8, 1);
      }

      :nth-child(3) {
        animation: FadeInSlow 1s cubic-bezier(0.8, 0.1, 0.8, 1);
      }

      :nth-child(4) {
        animation: FadeInSlow 1s cubic-bezier(0.8, 0.1, 0.8, 1);
      }

      @media (min-width: 992px) {
        padding-right: 100px;
      }
      @media (min-width: 1400px) {
        padding-right: 150px;
      }
    }

    &-img {
      border-radius: 10px;

      img {
        border-radius: 10px;
      }
    }
  }
}

.post-content,
.blog-content {
  .entry-header {
    background-image: conic-gradient(from 60deg, #1d186e 50%, #120e52 0% 100%);
    height: 300px;
    display: flex;
    align-items: center;
    padding: 100px 0px 100px 0px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;

    @media (min-width: 576px) {
      height: 300px;
    }

    @media (min-width: 992px) {
      padding-left: 0px;
    }

    @media (min-width: 1200px) {
      padding-left: 0;
    }

    @media (min-width: 1440px) {
      padding-left: 40px;
    }

    @media (min-width: 1600px) {
      padding-left: 0;
    }

    &__icon {
      background-color: white;
      border-radius: 50%;
      padding: 9px;
      width: 80px;
      height: 80px;
      margin-right: 30px;
      margin-bottom: 10px;
      overflow: hidden;

      img {
        height: 100%;
      }

      @media (min-width: 576px) {
        margin-bottom: 0px;
      }
    }

    &__title {
      width: 100%;

      @media (min-width: 576px) {
        width: 70%;
      }
    }

    .entry-title {
      color: white;
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;
    }

    .entry-title-shop {
      margin-top: -30px;
      padding-left: 0;
    }
  }

  .entry-meta {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    font-size: 1.2rem;

    a {
      color: white;
    }
  }

  .entry-content {
    margin-top: 0;

    @media (min-width: 992px) {
      padding-left: 0px;
    }
  }

  .entry-footer {
    color: black;
    font-size: 1rem;
  }
}

.with-img {
  height: 100%;

  @media (min-width: 992px) {
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 1000px;
      display: block;
      top: 0;
      right: 0;
      background: linear-gradient(
                      0deg,
                      rgba(255, 255, 255, 1) 0%,
                      rgba(4, 0, 61, 0.04) 20%
      );
      z-index: -1;
    }
  }

  &__left {
    margin-left: 0;
    padding: 50px 20px 50px 0px;

    @media (min-width: 576px) {
      padding: 100px 0px;
    }

    @media (min-width: 768px) {
      padding: 100px 60px 100px 0px;
    }

    @media (min-width: 992px) {
      padding: 100px 10px 100px 0;
    }
    @media (min-width: 1200px) {
      padding: 100px 100px 100px 0px;
    }
    @media (min-width: 1440px) {
      padding: 100px 100px 100px 40px;
    }
    @media (min-width: 1600px) {
      padding: 100px 100px 100px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 2rem;
    }
  }

  &:first-child {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
    }

    p {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 40px;
    }

    :first-child {
      animation: FadeInSlow 1.2s cubic-bezier(0.8, 0.1, 0.8, 1);
    }

    :nth-child(2) {
      animation: FadeInSlow 0.8s cubic-bezier(0.8, 0.1, 0.8, 1);
    }

    :nth-child(3) {
      animation: FadeInSlow 1s cubic-bezier(0.8, 0.1, 0.8, 1);
    }

    :nth-child(4) {
      animation: FadeInSlow 1s cubic-bezier(0.8, 0.1, 0.8, 1);
    }
  }

  &__right {
    padding: 50px 10px 50px 0px;
    position: relative;

    @media (min-width: 576px) {
      padding: 50px 60px 80px 0px;
    }

    @media (min-width: 768px) {
      padding: 50px 30px 80px 0px;
    }

    @media (min-width: 992px) {
      padding: 100px 0px 100px 60px;
    }
    @media (min-width: 1200px) {
      padding: 100px 0px 100px 60px;
    }
    @media (min-width: 1400px) {
      padding: 100px 40px 100px 60px;
    }

    @media (min-width: 1600px) {
      padding: 100px 0px 130px 100px;
    }

    .carousel-inner {
      border-radius: 10px;
      width: 100%;

      @media (min-width: 992px) {
        height: 600px;
      }
    }

    .carousel-control-next {
      border-radius: 0 10px 0 0;

      @media (min-width: 992px) {
        border-radius: 0 0 10px 0;
      }
    }

    &-image {
      position: relative;
      margin: 0px auto 0px;
      padding: 0;
      height: 200px;
      width: 100%;
      border-radius: 10px;
      top: 0;
      @media (min-width: 550px) {
        height: 280px;
      }
      @media (min-width: 768px) {
        height: 380px;
      }
      @media (min-width: 992px) {
        height: 480px;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;

      }
    }

    &-map {
      position: relative;
      margin: 0px auto 100px;
      padding: 0;
      height: 400px;
      width: 100%;
      border-radius: 10px;

      iframe {
        // object-fit: cover;
        min-width: 100%;
        width: 100%;
        *width: 100%;
        height: 100%;
        border-radius: 10px;
        filter: hue-rotate(-20deg);
      }
    }

    &-icons {
      display: none;

      @media (min-width: 992px) {
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        background-color: white;
        padding: 50px;
        -webkit-appearance: none;
        box-shadow: 0px 3px 6px rgba(4, 0, 61, 0.1);
      }
    }

    &-icons-item {
      margin-top: 20px;
      -webkit-appearance: none;
      box-shadow: 1px 3px 6px 1px rgba(218, 216, 216, 0.75);
    }
  }
}

div.wpcf7 .ajax-loader {
  display: none !important;
}

.contact-form {
  .wpcf7 {
    padding-top: 50px;

    p {
      text-align: end;
      padding: 0px;
    }

    input,
    textarea {
      position: relative;
      padding: 20px 30px;
      border-radius: 10px;
      font-size: 1.4rem;
      border: none;
      font-weight: 600;
      -webkit-appearance: none;
      box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.3);
    }

    input[type="submit"] {
      background: linear-gradient(
                      to right,
                      $color__primary-btn-left 0%,
                      $color__primary-btn-right
      );
      color: #fff;
      padding: 15px 40px 15px 15px;
      line-height: 1rem;
      font-size: 1.2rem;
      border-radius: 10px 0 10px 0;
      margin-right: 0px !important;
    }

    .input-wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/btn-arrow.svg");
        background-size: 16px 13px;
        background-repeat: no-repeat;
        background-position: center;
        width: 45px;
        height: 100%;
        overflow: hidden;
      }
    }
  }
}
