.product-item {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  @media (min-width: 768px) {
  }

  @media (min-width: 1200px) {
  }

  @media (min-width: 1440px) {
    padding: 0 40px;
  }
  @media (min-width: 1600px) {
  }

  &__product-card {
    position: relative;
    box-shadow: 0 3px 6px rgba(4, 0, 61, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 50px;
    background-color: white;
    width: 100%;

  }

  &__title {
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__image {
    height: 38vh;
    max-height: 38vh;
    @media (min-width: 576px) {
      height: 42vh;
      max-height: 42vh;
    }
    @media (min-width: 768px) {
      height: 38vh;
      max-height: 38vh;
    }

    @media (min-width: 1200px) {
      height: 40vh;
    }
    @media (min-width: 1600px) {
      height: 38vh;
      max-height: 38vh;
    }
    img {
      border-radius: 5px 5px 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
    }
  }

  &__details {
    min-height: 80px;
    padding: 20px;
    background-color: $color__company-primary;
  }

  &__price {
    display: none;
    span {
    }

    &--initial {
      color: $color__company-primary-light;
      font-weight: 600;
      span {
        font-size: 2rem;
      }
    }
    &--sale {
      color: $color__company-tertiary;
      font-weight: 600;
      padding-right: 15px;
      span {
        font-size: 2rem;
      }
    }
    &--regular {
      span {
        font-size: 1.5rem;
        text-decoration: line-through;
        font-weight: 600;
      }
    }
  }

  &__discount {
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    background: linear-gradient(
      to right,
      $color__primary-btn-left 0%,
      $color__primary-btn-right
    );
    color: #fff;
    padding: 6px 10px 6px 10px;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    overflow: hidden;
  }

  &__button {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      transition: all 0.2s ease-in-out;
      opacity: 0;
      transform: translateX(-150px);

    }
    &:hover {
      background-color: $color__company-primary-light;
      opacity: 0.9;
      width: 100%;
      height: 100%;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        opacity: 1!important;
        transform: translateX(0px);

      }
    }
  }
}
