.home-usps {
  background: linear-gradient(to right, $color__company-primary 0%, $color__company-primary-light);
  max-width: 860px;
  margin: -80px auto 0 auto;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .13);

  @media (min-width: 992px) {
    flex-direction: row;
    display: flex;
  }

  @media (min-width: 1440px) {
    max-width: 1200px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex: 0 25%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    animation: FadeIn .5s both ease-in-out;
    height: 100%;

    &:nth-child(2) {
      border-top: 1px solid rgba(255, 255, 255, .1);
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    &:nth-child(3) {
      border-top: 1px solid rgba(255, 255, 255, .1);
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }


    @media (min-width: 992px) {
      padding: 30px 20px;
      justify-content: center;

      &:nth-child(2) {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid rgba(255, 255, 255, .3);
        border-right: 1px solid rgba(255, 255, 255, .3);
      }
      &:nth-child(3) {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid rgba(255, 255, 255, .3);
        border-right: 1px solid rgba(255, 255, 255, .3);
      }
    }

    @for $p from 1 through 10 {
      &:nth-child(#{$p}n) {
        animation-delay: #{$p * .15}s;
      }
    }
  }

  &__icon {
    padding-right: 20px;

    @media (min-width: 992px) {
      padding-right: 30px;
    }

    img {
      width: 42px;
      height: auto;
    }
  }

  &__title {
    color: white;
    font-size: 1.25rem;
  }

  &__excerpt {
    font-size: 1rem;
    color: white;
  }

}


aside.page-cta-wrapper {
  background-color: $color__company-tertiary;
  padding: 40px 15px;
  position: relative;
  overflow: hidden;

  .col-12 {
    margin-top: 30px;
  }

  @media all and (min-width: 768px) {
    .col-12 {
      margin-top: 0;
    }

  }

  .bucket {
    @media all and (min-width: 768px) {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      display: block;
      top: -50px;
      width: 200px;
      height: 200px;
      opacity: 1;
      z-index: 2;
    }
  }

  // left first bucket
  .bucket:first-child {
    @media all and (min-width: 768px) {
      opacity: 0.84;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      left: -20px;
      top: 50px;
      transform: rotate(-249deg);
      background-image: url('/wp-content/themes/webcommitment-premium-shop-theme/img/usps-okinaru-icon.svg');
    }
  }

  .bucket:last-child {
    @media all and (min-width: 768px) {
      opacity: 0.84;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: -20px;
      top: 50px;
      transform: rotate(-8deg);
      background-image: url('/wp-content/themes/webcommitment-premium-shop-theme/img/usps-okinaru-icon.svg');
    }
  }


  .cta-desc {
    padding-top: 20px;

    .cta-subtitle {
      font-weight: 500;
    }

    .cta-title {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  svg {
    width: 25px;
    height: 25px;
    filter: brightness(0);
  }

  a {
    &:link, &:visited {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}