.newsletter {
  background-color: rgba(4, 0, 61, 0.07);
  padding: 100px 0 70px;

  @media (min-width: 1200px) {
    padding: 100px 30px;
  }

  &__contact {
    margin-bottom: 50px;
    padding-left: 0px;

    @media (min-width: 576px) {
      padding-left: 0px;
      padding-right: 50px;
    }

    @media (min-width: 768px) {
      margin-bottom: 50px;
      padding-left: 0px;
      padding-right: 20px;
    }

    @media (min-width: 992px) {
      padding-left: 0px;
      padding-right: 20px;
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      padding-left: 0px;
      margin-left: -30px;
    }
    @media (min-width: 1440px) {
      padding-left: 5px;
      margin-left: 0px;
    }
    @media (min-width: 1600px) {
      padding-left: 0px;
      margin-left: 0px;
    }

    &--right {
      padding-left: 0px;
      padding-right: 0px;

      @media (min-width: 1200px) {
        padding-left: 0px;
        margin-right: -40px;
      }
      @media (min-width: 1440px) {
        padding-left: 0px;
        margin-right: -10px;
      }
      @media (min-width: 1600px) {
        padding-left: 0px;
        margin-right: 0px;
      }
    }
  }

  h3 {
    margin-bottom: 40px;
  }

  &__icons {
    display: flex;

    &-item {
      background-color: $color__company-primary;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 10px;

      @media (min-width: 576px) {
        margin-right: 20px;
      }
      &:hover {
        .contacts-block-small__icon {
          img {
            transform: scale(1.1);
            opacity: 0.5;
          }
        }
      }
      img {
        transition: all 0.35s ease-in-out;

        width: 100%;
        height: 100%;
        padding: 20px;
      }
    }
  }

  &__input {
    position: relative;
    height: 80px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0;
      width: 80px;
      height: 80px;
      background-color: $color__company-primary;
      background: rgb(4, 0, 61);
      background: linear-gradient(
        90deg,
        rgba(4, 0, 61, 1) 0%,
        rgba(7, 0, 111, 1) 80%
      );
      border-radius: 10px;
      z-index: 2;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      &:before {
        background-color: $color__company-tertiary;
        background: rgb(241, 90, 20);
        background: linear-gradient(
          90deg,
          rgba(241, 90, 20, 1) 0%,
          rgba(240, 35, 23, 1) 80%
        );
      }
      &:after {
        animation: BackgroundPositionLeftRight 1.3s 2;
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 80px;
      text-align: center;
      height: 80px;
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/right-arrow.svg");
      background-size: 40px;
      background-position: center;
      z-index: 2;
      background-repeat: no-repeat;
    }

    input {
      position: absolute;
      top: 0;
      padding: 25px 30px;
      border-radius: 10px;
      font-size: 1.4rem;
      border: none;
      font-weight: 600;
      -webkit-box-shadow: 0px 0px 13px 5px rgba(202, 202, 202, 0.68);
      box-shadow: 0px 0px 13px 5px rgba(202, 202, 202, 0.68);
    }
  }
}

.newsletter-icons {
  display: flex;
  justify-content: center;
  align-content: space-between;

  &:first-child {
    margin-bottom: 20px;
  }
  @media (min-width: 992px) {
    &:first-child {
      margin-bottom: 0px;
    }
  }

  &__wrapper {
    border-top: 2px solid rgba(219, 219, 219, 0.5);
    background-color: rgba(4, 0, 61, 0.07);
    padding: 20px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: FadeIn 0.5s both ease-in-out;

    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  &__title {
    margin-left: 7px;
    font-size: 0.875rem; //14px
    line-height: 0.875rem;
    font-weight: bold;
    color: $color__text-main;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 18px;
      height: 18px;
    }
  }

  &__brand-icon {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
