
section#section-slider {
  margin-top: 50px;

  #frontCarousel {
    .carousel-item {
      height: 30vw;
      min-height: 50vh;
      background-size: cover;
      background-position: center;

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0.8) 45%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0) 100%);
      }

      .col-slider, .row-slider {
        height: 100%;
      }

      .slider-wrap {
        display: table;
        height: 100%;
        width: 90vw;
        margin: 0 15px;
        @media (min-width: 992px) {
          width: 46vw;

        }

        .slider-inner {
          display: table-cell;
          vertical-align: middle;

          .slider-title {
            font-weight: 400;
            color: #fff;
            font-size: 3.5rem;
            line-height: 3.3rem;
            text-transform: uppercase;
            text-align: left;
          }

          .slider-content {
            color: #fff;
            margin-bottom: 30px;
            max-width: 80%;
            text-align: left;
            @media (min-width: 992px) {
              max-width: 70%;
              text-align: left;
            }

            p {
              margin: 25px 0 25px;
            }
          }

          .slider-cta {
            margin-top: 50px
          }
        }
      }
    }

    .carousel-control-prev, .carousel-control-next {
      width: 8%;
      @media (min-width: 768px) {
        width: 5%;
      }
      @media (min-width: 992px) {
        width: 4%;
      }
      @media (min-width: 1200px) {
        width: 3%;
      }
      @media (min-width: 1440px) {
        width: 2%;
      }
    }

    .carousel-control-prev {
      transform: rotate(180deg);
      left: 0
    }

    .carousel-control-next {
      right: 0;
    }

    .carousel-control-prev-icon {
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/btn-arrow.svg");
      height: 35px;
      width: 35px;
      background-color: $color__company-primary;
      background-size: 60%;
      padding: 10px;
      border-radius: 0 5px 5px 0;
    }

    .carousel-control-next-icon {
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/btn-arrow.svg");
      height: 35px;
      background-color: $color__company-primary;
      background-size: 60%;
      padding: 10px;
      width: 35px;
      border-radius: 5px 0 0 5px;
    }

    .carousel-indicators {
      li {
        height: 12px;
        width: 12px;
        border-radius: 50%;


        &.active {
          -webkit-box-shadow: 0px 0px 1px 4px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 0px 1px 4px rgba(255, 255, 255, 0.3);
          background-color: $color__company-secondary;
        }
        li {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 5px;
          // border: 1px solid rgba(255,255,255,0.5);
          background-color: rgba(255, 255, 255, 0.3);
        }
      }

    }
  }
}

