a,
button, input {
  transition: color 0.25s ease-in-out;

  &:link,
  &:visited {
    color: $color__link;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    outline: none;
    text-decoration: none;
  }

  &.primary-btn {
    background: linear-gradient(
                    to right,
                    $color__primary-btn-left 0%,
                    $color__primary-btn-right
    );
    color: #fff;
    padding: 10px 40px 10px 15px;
    line-height: 1rem;
    font-size: 1.2rem;
    border-radius: 10px 0 10px 0;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;


    &:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/btn-arrow.svg");
      background-size: 16px 13px;
      background-repeat: no-repeat;
      background-position: center;
      width: 45px;
      height: 100%;
      overflow: hidden;

      //border-left: 1px solid rgba(255, 255, 255, 0.33);
    }

    &:hover {
      &:before {
        transform: translateY(0%);
        opacity: 1;
      }

      &:after {
        animation: BackgroundPositionLeftRight 1.6s infinite;
      }
    }

    &--back {
      padding: 10px 15px 10px 60px;

      &:after {
        left: 0;
        background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/right-arrow.svg");
        transform: rotate(180deg);
      }
    }

    &--cart {
      &:after {
        background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/shopping-cart-secondary.svg");
      }
    }

    &--filter {
      &:after {
        background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/filter.svg");
      }
    }

    &--simple {
      padding: 10px 15px 10px 15px;

      &:after {
        display: none;
      }
    }
  }

  &.secondary-btn {
    color: white;
    border-radius: 10px 0 10px 0;
    padding: 10px 40px 10px 15px;
    line-height: 1rem;
    font-size: 1.3rem;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid white;

    &:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/btn-arrow.svg");
      background-size: 20px 16px;
      background-repeat: no-repeat;
      background-position: center;
      width: 55px;
      height: 100%;
      overflow: hidden;
    }

    &:hover {
      color: white;

      &:before {
        transform: translateY(0%);
        opacity: 1;
      }

      &:after {
        animation: BackgroundPositionLeftRight 1.6s infinite;
      }
    }
  }

  &.tertiary-btn {
    background: $color__company-primary;
    color: #fff;
    padding: 10px 40px 10px 15px;
    line-height: 1rem;
    font-size: 1.2rem;
    border-radius: 10px 0 10px 0;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;


    &:after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      background-image: url("/wp-content/themes/webcommitment-premium-shop-theme/img/btn-arrow.svg");
      background-size: 16px 13px;
      background-repeat: no-repeat;
      background-position: center;
      width: 45px;
      height: 100%;
      overflow: hidden;

      //border-left: 1px solid rgba(255, 255, 255, 0.33);
    }

    &:hover {
      &:before {
        transform: translateY(0%);
        opacity: 1;
      }

      &:after {
        animation: BackgroundPositionLeftRight 1.6s infinite;
      }
    }


  }

}
