.main-menu {
  position: relative;

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.82, 0.01, 0.77, 0.78);
    padding-top: 150px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin: 0;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100vw;
      padding: 15px;
      max-height: calc(100vh - 150px - 146px); // -padding top -contact block
      overflow-x: hidden;
      overflow-y: auto;

      @media (min-width: 992px) {
        overflow: hidden;
      }

      li {
        text-align: left;
        position: relative;
        width: 100%;
        padding: 20px 0;
        font-size: 1.25rem;
        text-transform: uppercase;
        @media (min-width: 648px) {
          width: 33.33%;
        }

        a {
          font-weight: bold;
          display: inline-block;
          position: relative;
          font-size: 1.2rem;

          &:after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $color__link-hover;
            transition: width 0.25s ease-in-out;
          }
        }

        &:hover {
          > a {
            &:after {
              width: 100%;
            }
          }

          ul.sub-menu {
            visibility: visible;
            opacity: 1;
          }
        }

        ul.sub-menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0;
          padding: 0;
          transition: opacity 0.25s ease-in-out;

          li {
            width: auto;
            display: block;
            padding: 0;
            margin: 3px 0;
            font-size: 1rem;

            a {
              font-weight: normal;
            }
          }

          @media (min-width: 992px) {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 124px;
            min-width: 150px;
            width: 100%;
            padding: 10px 15px;

            li {
              text-align: center;
            }
          }
        }
      }
    }

    .contacts-block-small {
      position: absolute;
      bottom: 0;
      background-color: $color__light-gray;
      width: 100vw;
      left: 0;
      transform: translateY(100%);
      display: flex;
      flex-direction: column;
      transition: transform 0.5s cubic-bezier(0.82, 0.3, 0.4, 0.78);
      transition-delay: 1s;
      padding: 25px 15px;

      &__title {
        color: $color__company-primary;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__items {
        display: flex;
      }

      &__item {
        &:not(:first-child) {
          margin-left: 20px;
        }

        animation: FadeInLeft 1.25s cubic-bezier(0.82, 0.3, 0.4, 0.78);

        @for $p from 1 through 10 {
          &:nth-child(#{$p}n) {
            animation-delay: #{$p * 0.05}s;
          }
        }
      }

      &__icon {
        border-radius: 100px;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

        img {
          width: 25px;
          height: 25px;
        }
      }

      &__link {
      }
    }

    @media (min-width: 992px) {
      padding-top: 0;
      position: relative;
      width: auto;
      height: auto;
      background-color: transparent;
      justify-content: center;
      align-items: center;
      transform: translateX(0);

      .contacts-block-small {
        display: none;
      }

      ul {
        flex-direction: row;
        flex-wrap: initial;
        width: auto;
        padding: 0;

        li {
          position: relative;
          padding: 50px 0;
          width: auto;
          font-size: 1rem;

          a {
            position: relative;
          }

          &:not(:first-child) {
            margin-left: 20px;
          }
        }
      }
    }
  }


  &__shop-icons {
    position: absolute;
    top: 13px;
    right: 60px;
    display: flex;
    @media (min-width: 576px) {
      top: 13px;
      right: 85px;
      display: flex;
    }
    @media (min-width: 992px) {
      display: none;
    }

    > div {
      padding-right: 10px;
      padding-left: 0;

      &.btn-sale {
        transform: translateY(-3px);
      }

      @media all and (min-width: 576px) {
        padding-right: unset;
        padding-left: 25px;
      }
      @media (min-width: 992px) {
        padding-left: 18px;
      }

      svg,
      img {
        @media (min-width: 992px) {
          width: 90%;
        }
      }
    }

    .main-menu__account {
      margin-top: 0 !important
    }
  }


  &.active {
    .main-menu__container {
      transform: translateX(0%);

      .contacts-block-small {
        position: absolute;
        bottom: 0;
        background-color: $color__light-gray;
        width: 100vw;
        left: 0;
        display: flex;
        transform: translateY(0%);

        &__icon {
          background-color: $color__company-primary;
        }
      }

      ul {
        li {
          animation: FadeInLeft 1.25s cubic-bezier(0.82, 0.3, 0.4, 0.78);

          @for $p from 1 through 10 {
            &:nth-child(#{$p}n) {
              animation-delay: #{$p * 0.05}s;
            }
          }
        }
      }
    }
  }

  &__trigger {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: block;
    z-index: 4;

    &:after,
    &:before,
    div {
      background-color: $color__company-primary;
      border-radius: 3px;
      content: "";
      display: block;
      height: 3px;
      margin: 7px 0;
      transition: all 0.4s cubic-bezier(0.82, 0.01, 0.77, 0.78);
      opacity: 1;
    }

    &:before {
      animation: WidthMenu 0.35s cubic-bezier(0.82, 0.01, 0.77, 0.78);
    }

    div {
      width: 32px;
      margin-left: 8px;
      animation: WidthMenuSmall 0.35s cubic-bezier(0.82, 0.01, 0.77, 0.78);
      animation-delay: 0.15s;
    }

    &:after {
      animation: WidthMenu 0.35s cubic-bezier(0.82, 0.01, 0.77, 0.78);
      animation-delay: 0.3s;
    }

    &:hover {
      &:after,
      &:before,
      div {
      }
    }

    &.active {
      &:before {
        transform: translateY(12px) rotate(135deg);
      }

      &:after {
        transform: translateY(-8px) rotate(-135deg);
      }

      div {
        transform: scale(0);
      }

      &:after,
      &:before,
      div {
      }
    }

    @media (min-width: 992px) {
      display: none;
    }
  }

  &__shop-nav {
    position: absolute;
    top: 128px;
    right: 22px;
    @media (min-width: 568px) {
      top: 80px;
      right: 75px;
      display: flex;
    }
    @media (min-width: 992px) {
      position: relative;
      top: 0;
      right: 0;
    }

    > div {
      padding-left: 25px;
      @media (min-width: 992px) {
        padding-left: 18px;
      }

      svg {
        @media (min-width: 992px) {
          width: 90%;
        }
      }
    }
  }

  &__search {
    display: none;
    cursor: pointer;
    @media (min-width: 992px) {
      margin-left: 10px;
      display: block;
    }
  }

  &__cart {
    position: relative;
    cursor: pointer;

    @media (min-width: 992px) {
      position: relative;
      top: 0;
    }

    span {
      background-color: white;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: block;
      text-align: center;
      font-size: 0.8rem;
      position: absolute;
      top: 4px;
      right: -5px;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    }
  }

  &__account {
    margin-top: 18px;
    margin-left: 3px;
    @media (min-width: 568px) {
      margin-top: 0;
      margin-left: 0;
    }
    @media (min-width: 992px) {
      position: relative;
    }
  }
}
